*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-size: 22px;
	line-height: 2;
	background: black;
	color: white;
}

.contenedor{
	max-width: 960px;
	margin: 100px auto;
	outline: 6px solid yellow;
	background-color: wheat;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px 20px;
}

.parte{
	background-color: red;
	font-family: -apple-system,
	blinkMacSystemFont, 'Segoe UI', Roboto,
	Oxygen, Ubuntu, Cantarell, 'Open Sans',
	'Helvetica Neue', sans-serif;
	font-weight: bold;
	padding: 22px;
	border: bisque 1px solid;

	text-align: center;
	border-radius: 8px;
	font-size: 2em;
	cursor: pointer;
}

.parte:hover{
	color: black;
}
.uno {
	background-color: orange;
	grid-area: 1/1/span 2/span 2;
}
.dos {
	background-color: firebrick;
}
.tres {
	background-color: blue;
}
.cuatro {
	background-color: yellowgreen;
}
.cinco {
	background-color: rebeccapurple;
	grid-column: 2/4;
}
.seis {
	background-color: fuchsia;
}
.siete {
	background-color: aqua;
}
.ocho {
	background-color: dimgray;
}
.nueve {
	background-color: chartreuse;
	grid-column: 1/4;
}
